$content-width: 58.75rem;
$navbar-height: 3rem;
$sidebar-width: 15rem;

.content {
  @include clearfix;
  max-width: $content-width;
  padding: 1.5rem;
  width: 100%;
}

.app {
  height: 100%;
}

.splash-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;

  h1 {
    margin-bottom: 1rem;
  }

  p {
    margin-bottom: 1rem;
  }
}

.sidebar {
  bottom: 0;
  left: 0;
  overflow: scroll;
  position: fixed;
  top: $navbar-height;
  width: $sidebar-width;

  &::-webkit-scrollbar {
    display: none;
  }
}

.details {
  background-color: $white;
  bottom: 0;
  color: $black;
  left: $sidebar-width;
  position: absolute;
  right: 0;
  top: $navbar-height;
}

@media screen and (max-width: $phone-landscape-max) {
  .content {
    padding: 0;
    width: 100%;
  }

  section {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}
