nav {
  background-color: $black;
  box-shadow: 0 0 8px rgba($black, 0.15);
  height: $navbar-height;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;

  .site-title {
    @extend %h1;
  }

  .page-title {
    margin-top: -0.35rem;
  }

  .nav-content {
    padding: 1rem 1.5rem;
  }

  .nav-sidebar {
    width: $sidebar-width;
  }

  .nav-details {
    flex: 1;
  }
}
