.shortlink-list {
  .shortlink-list-item {
    padding: 0.75rem 1.5rem;
    border-bottom: 1px solid $medium-gray;
    cursor: pointer;
    user-select: none;

    &.selected {
      background-color: $white;
      color: $black;
    }
  }
}
